.page-header {
  padding-bottom: 0;
  border: 1px solid #ececec;
}
.contact-list {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.contact a {
  color: $primary-text-color;
  font-style: normal;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contact a {
  text-decoration-line: none;
  display: inline-flex;
  align-items: flex-end;
}
.mail {
  margin-right: 30px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts-icon {
  fill: currentColor;
  height: 15px;
  width: 20px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
}
