.logo-web {
  color: $accent-color;
  text-decoration-line: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
}
.logo {
  color: $primary-text-color;
  text-decoration-line: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  margin-right: 85px;
}
